*.geany
*~
autom4te.cache
*.exe
*.ilk
*.ncb
*.pdb
*.o
*.dep
*.idb
*.obj
*.txt
*.log
*.user
Thumbs.db
Build/*
!Build/*.dll
Obj
*unittest
*.lo
.deps
.libs
*.la
*.pc
VS2008/Debug
VS2008/Release
*.suo
UpgradeLog*
*UpgradeReport*
*.old