*~
*.a
autom4te.cache
Build/*
!Build/*.dll
CMakeFiles
cmake_install.cmake
*.dep
.deps
*.exe
*.geany
*.idb
*.ilk
*.la
.libs
*.lo
*.log
*.ncb
*.o
*.obj
Obj
*.old
*.pc
*.pdb
*.suo
Thumbs.db
*.txt
*unittest
UpgradeLog*
*UpgradeReport*
*.user
VS2008/Debug
VS2008/Release
